In [1]:
import pandas as pd

df = pd.read_csv("../data/BodyFat.csv")

In [ ]:
df = pd.read_csv("../data/BodyFat.csv")
# Compute the error between Siri density and actual density
siri_density = 495 / (df.BODYFAT + 450)
err = siri_density - df.DENSITY
# Use 3 sigma criterion to drop the abnormal samples
mean_err = err.mean()
std_err = 3 * err.std()
err_id = df[(err > mean_err + std_err)|(err < mean_err - std_err)].IDNO
df = df.loc[~df.IDNO.isin(err_id)]
# Drop the samples with negative bodyfat by Siri density
siri_bodyfat = 495 / df.DENSITY - 450
negative_id = df[siri_bodyfat < 0].IDNO
df = df[~df.IDNO.isin(negative_id)]
# Reset index and save data
df.reset_index(drop=True).to_csv("../data/cleaned_data.csv", index=False)

In [2]:
df = pd.read_csv("../data/BodyFat.csv")
# Compute the error between Siri density and actual density
siri_density = 495 / (df.BODYFAT + 450)
err = siri_density - df.DENSITY
# Use 3 sigma criterion to drop the abnormal samples
mean_err = err.mean()
std_err = 3 * err.std()
err_id = df[(err > mean_err + std_err)|(err < mean_err - std_err)].IDNO
err_id

47    48
75    76
95    96
Name: IDNO, dtype: int64

In [3]:
df.head(2)

,IDNO,BODYFAT,DENSITY,AGE,WEIGHT,HEIGHT,ADIPOSITY,NECK,CHEST,ABDOMEN,HIP,THIGH,KNEE,ANKLE,BICEPS,FOREARM,WRIST
0,1,12.6,1.0708,23,154.25,67.75,23.7,36.2,93.1,85.2,94.5,59.0,37.3,21.9,32.0,27.4,17.1
1,2,6.9,1.0853,22,173.25,72.25,23.4,38.5,93.6,83.0,98.7,58.7,37.3,23.4,30.5,28.9,18.2

In [ ]:
df.loc[err_id, "BODYFAT"] = 495 / df.loc[err_id, "DENSITY"] +